/* 公用 */
.comWidth{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

body{
    font-size: 12px;
}

.leftArea{
    float: left;
}

.rightArea{
    float: right;
}

/* topBar START */
.topBar{
    height: 31px;
    line-height: 31px;
    background-color: #F7F7F7;
}
.collection{
    background: url(../images/icon/collection.jpg) left center no-repeat;
    padding-left: 19px;
    font-weight: bold;
}

.topBar a:hover{
    color: red;
}
/* topBar END */

/* Logo START */
.logoBar{
    height: 85px;
    background: #1D7AD9;
}

.logo{
    padding-left: 18px;
    padding-top: 5px;
}
/* Logo END */

/* search START */
.search_box{
    width: 430px;
    padding-top: 23px;
    padding-left: 185px;
}

/* IE6下解决方法一：
.search_text{
    width: 350px;   
    height: 14px;
    line-height: 14px;
    padding: 11px 5px 10px;   
    background-color: #FFF;
}
*/

/* IE6下解决方法二：*/
.search_text{
    width: 350px;
    height: 35px;
    /*CSS hack：\9代表所有IE浏览器*/
    line-height: 35px\9;
    padding: 0 5px;
    background-color: #FFF;
}


.search_btn{
    width: 70px;
    height: 35px;
    color: #FFF;
    font-size: 14px;
    font-family: "Microsoft YaHei","微软雅黑";
    background-color: #FF8C00;
}
/* search END */

/* shopCar START */
.shopCar{
    width: 145px;
    height: 35px;
    background-color: #FF8C00;
    margin-top: 23px;
    /* font-size: 14px;
    font-family: "Microsoft YaHei","微软雅黑";
    line-height: 35px; */
    font: 14px/35px "Microsoft YaHei","微软雅黑";
    color: #FFF;
    margin-right: 59px;
}

.shopText{
    height: 100%;
    width: 87px;
    border-right: 1px solid #E27A00;
    background: url(../images/icon/shopcar.jpg) 10px center no-repeat;
    text-indent: 40px;
    /*如果用padding-left，需要修改宽度，略麻烦；
    padding-left: 40px;
    */
}

.shopNum{
    width: 27px;
    height: 35px;
    border-left: 1px solid #FF9C01;
    background: url(../images/icon/shopNum.jpg) 33px center no-repeat;
    text-align: right;
    padding-right: 29px;
}
/* shopCar END */

/* navBox START */
.navBox{
    height: 35px;
    background-color: #1369C0;
    color: #FFF;
}

.shopClass{
    width: 190px;
    position: relative;
}

.shopClass h3{
    line-height: 35px;
    text-align: center;
}

.shopClass i{
    width: 11px;
    height: 7px;
    overflow: hidden;
    background: url(../images/icon/shopClass.jpg) left center no-repeat;
    display: inline-block;
    margin-left: 11px;
}

.nav,.shopClass h3{
    font-family: "Microsoft YaHei","微软雅黑";
}

.nav{
    line-height: 35px;

}

.nav li{
    float: left;
}

.nav a{
    height: 35px;
    display: inline-block;
    padding: 0 35px;
    color: #FFF;
}

.nav .active{
    background-color: #4593FD;
}
/* navBox END */

/* shopClass_item START */
.shopClass_show{
    background-color: #4593FD;
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
}

.shopClass_item{
    padding: 14px 10px;
    border-bottom: 1px solid #3487F2;
    border-top: 1px solid #5AA1FE;
}

.shopClass_item dt{
    height: 22px;
    background: url(../images/icon/shopClass_item.jpg) right center no-repeat;
}

.shopClass_item .aLink{
    width: 48px;
    height: 20px;
    background: url(../images/icon/aLink_bg.png) left center no-repeat;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    text-decoration: underline;
    margin-left: 10px;
}

.shopClass_item .b{
    /* font-family: "Microsoft YaHei","微软雅黑";
    font-size: 14px;
    font-weight: bold; */
    font: 14px/1 "Microsoft YaHei","微软雅黑";
}

.shopClass_item a{
    color: #FFF;
}

.shopClass_item a:hover{
    text-decoration: underline;
}

/* shopClass_item END */

/* shopClass_list START */
.shopClass_list{
    width: 568px;
    /*height: 378px;*/
    border: 1px solid #DDD;
    position: absolute;
    top: 35px;
    left: 190px;
}

.shopClass_cont{
    padding: 0 20px;
}

.shopList_item{
    padding: 10px 0;
    border-bottom: 1px solid #E5E5E5;
}

/* shopClass_item active START */
.shopClass_active{
    background-color: #FFF;   
    border-left: 1px solid #4593FD;
}

.shopClass_active a{
    color: #000;
}

.shopClass_active .aLink{
    color: #FFF;
    text-decoration: none;
}

.shopClass_active dt{
    background: none;
}

/* shopClass_item active END */

.shopList_item dt{
    color: #4B87D9;
    font-weight: bold;
    height: 14px;
    line-height: 24px;
}

.shopList_item dd{
    padding-left: 68px;
    line-height: 24px;
    margin-top: -14px;

}

.shopList_item dd a{
    margin-right: 12px;
}

.shopList_links{
    padding: 15px 0;
}

.shopList_links a{
    color: #FFF;
    background-color: #2785E6;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    padding: 0 14px 0 8px;
    margin-right: 10px;
}

.shopList_links span{
    width: 11px;
    height: 7px;
    display: inline-block;
    background: url(../images/icon/shopList_links.gif) left center no-repeat;
    margin-left: 7px;
}
/* shopClass_list END */

/* banner START */
.banner_bar{
    width: 810px;
    height: 326px;
    float: right;
    position: relative;
}

.imgBox{
    width: 810px;
    height: 326px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.imgBox li{
    float: left;
}

.imgBox img{
    width: 810px;
    height: 326px;
    display: block;
}

.imgNum{
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.imgNum a{
    width: 20px;
    height: 5px;
    overflow: hidden;
    background-color: #FFF;
    display: inline-block;
    margin: 0 3px;
}

.imgNum .active{
    background-color: #FF7700;
}

/* banner END */