@charset "utf-8";
body {
  font-size: 14px;
  background: #f5f5f5;
  font-family: 'Helvetica Neue', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
/* 圆角（混合模式） */
/* 圆角（混合模式） */
/* 边框（混合模式） */
/*** 头部 START ***/
.header {
  width: 100%;
  height: 56px;
  line-height: 56px;
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
/* 导航部分 */
.headerNav {
  font-size: 14px;
  padding-left: 10px;
}
.navItem {
  font-weight: 400;
}
.navItem li {
  float: left;
  margin-right: 18px;
}
.navItem li a {
  height: 56px;
  display: inline-block;
  color: #9b9b9b;
}
.navItem li a i {
  padding-right: 6px;
}
.navItem .active a {
  color: #000;
  font-weight: bold;
}
/* 登录 */
.user_actions {
  padding-right: 2px;
  line-height: 56px;
}
.user_actions a {
  color: #9b9b9b;
  font-weight: bold;
  display: inline-block;
  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #FFF;
  margin-right: 8px;
  border: 1px solid #cccccc;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.user_actions a:hover {
  color: #fff;
  background-color: #000;
}
.user_actions .active {
  color: #fff;
  background: #CCC;
}
/* LOGO */
.logo {
  width: 60%;
  height: 56px;
  margin: 0 auto;
  text-align: center;
}
.logo a {
  height: 56px;
  display: inline-block;
  overflow: hidden;
}
.logo img {
  width: 39px;
  height: 18px;
  margin-top: 16px;
}
/*** 头部 END ***/
/*** 主体内容部分 START ***/
.main {
  margin: 0 auto;
  padding-top: 102px;
  overflow: hidden;
}
.stream {
  width: 31.6666%;
  height: 380px;
  text-align: center;
  float: left;
  position: relative;
  margin: 0 0.83333% 20px;
  background-color: #FFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}
.stream img {
  width: 60.5263%;
  height: 240px;
  margin: 38px auto 12px;
}
.streamTit {
  line-height: 44px;
}
.streamTit a {
  font-size: 14px;
  font-weight: 300;
  color: #adadad;
}
.streamTit a:hover {
  text-decoration: underline;
}
.stream .price {
  width: 70px;
  height: 36px;
  line-height: 36px;
  color: #9b9b9b;
  font-weight: 300;
  background: #f9fafc;
  position: absolute;
  top: 0;
  right: 0;
}
.thing-actions {
  width: 100%;
  height: 42px;
  line-height: 42px;
  border-top: 1px solid #f5f5f5;
  position: absolute;
  left: 0;
  bottom: 0;
}
.thing-actions a {
  color: #adadad;
  font-size: 18px;
  width: 50%;
  height: 42px;
  line-height: 42px;
  text-align: center;
  display: inline-block;
  float: left;
}
/*** 主体内容部分 END ***/
/*** 翻页 START ***/
.more {
  font-size: 14px;
  color: #9b9ba4;
  display: block;
  width: 100%;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: #e3e3e3;
  margin-top: 36px;
}
/*** 翻页 END ***/
/*** 底部 START ***/
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  color: #9b9b9b;
  background-color: #fff;
}
.footer ul {
  text-align: center;
  line-height: 40px;
}
.footer ul li {
  width: 40px;
  height: 40px;
  font-size: 16px;
  border: 1px solid #9b9b9b;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px 30px 10px;
}
.footer .copyright {
  font-size: 13px;
}
/*** 底部 END ***/
/* 详情页 START */
.detailsPage {
  background-color: #FFF;
}
.detailImg {
  width: 69.0789%;
  height: 420px;
  margin: 50px 14.8026% 0 16.1184%;
}
.detailLeftIcon {
  color: #ADADAD;
  margin: 62px 20.7236% 62px 33.5526%;
}
.detailLeftIcon a {
  font-size: 14px;
  font-weight: 300;
  color: #ADADAD;
  margin-right: 11.8421%;
}
.detailLeftIcon i {
  padding-right: 6px;
}
.detailIntro {
  width: 40.5%;
  margin: 50px 8.8333% 40px 0;
}
.detailIntro h2 {
  font-size: 28px;
  font-weight: normal;
  color: #404040;
  height: 36px;
  line-height: 36px;
  margin-bottom: 46px;
}
.detailTags {
  height: 66px;
  line-height: 66px;
}
.detailTags a {
  width: 48px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  color: #ADADAD;
  background-color: #F5F5F5;
  border-radius: 4px;
  margin-right: 6px;
}
.detailTags a:hover {
  color: #FFF;
  background-color: #404040;
}
.detailIntroCon {
  color: #ADADAD;
  font-size: 14px;
  line-height: 22px;
}
.buyAddr {
  color: #FFF;
  font-size: 14px;
  font-weight: 300;
  width: 41.9753%;
  height: 45px;
  display: inline-block;
  background-color: #404040;
  line-height: 45px;
  text-align: center;
  margin: 34px 0 50px 0;
  border-radius: 4px;
}
.other .fa-heart {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  background: #404040;
  text-align: center;
}
.other li {
  float: left;
  margin-right: 10px;
}
.other li a img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.related {
  margin-top: 62px;
  text-align: center;
}
.related h3 {
  font-size: 16px;
  font-weight: normal;
  color: #9b9b9b;
  border-top: 1px solid #f5f5f5;
  padding: 30px;
}
.related img {
  width: 11%;
  height: 132px;
  float: left;
  margin-left: 4.8333%;
}
/* 详情页 END */
/* 登录注册 START */
.userWrap {
  color: #9b9b9b;
  text-align: center;
  padding: 50px 15px 0;
  margin: 0 auto;
  height: 700px;
}
.navLine {
  margin-top: 100px;
}
.userWrap ul {
  font-size: 22px;
  line-height: 34px;
}
.userWrap li {
  display: inline-block;
  margin: 20px;
}
.userWrap a {
  color: #9b9b9b;
}
.userWrap ul .active a {
  color: #404040;
  border-bottom: 2px solid #404040;
}
.userWrap input {
  width: 390px;
  height: 40px;
  font-size: 16px;
  line-height: 40px\9;
  margin: 0 auto;
  display: block;
  border: 1px solid #f5f5f5;
  padding: 0 10px;
}
.userWrap input:nth-of-type(2) {
  border-top: none;
  border-bottom: none;
}
.userWrap input:last-child {
  color: #fff;
  width: 390px;
  height: 40px;
  padding: 0;
  margin-top: 20px;
  background: #404040;
  border-radius: 6px;
  cursor: pointer;
}
.omniauths {
  font-size: 16px;
  display: inline-block;
  margin-top: 50px;
}
.omniauths a {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  background: #000;
  text-align: center;
  display: inline-block;
  margin: 20px 0 0 36px;
}
/* 登录注册 END */
