/*margin的样式初始化*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,figure {
    margin: 0;
}

/*padding的样式初始化*/
ul,ol {
    padding: 0;
}

/*列表的样式初始化*/
ul,ol,li {
    list-style-type: none;
}

/*font-style的样式初始化*/
em,i {
    font-style: normal;
}

/*下划线的样式初始化*/
a {
    text-decoration: none;
}

input,select {
    border: none;
    outline: none;
}

/* 解决IE下蓝色的图片边框 */
img{
    padding: 0;
    border:0;
}

/* box-sizing取值 */
div,figure,img,input,button {
    box-sizing: -webkit-box-sizing; /*Safari / WebKit*/
    box-sizing: -moz-box-sizing; /*Firefox*/
    box-sizing: border-box;
}

/* 清浮动：如果需要高度自适应，就直接在本体上加 */
.clearfix:after{
    content: "";
    height:0;  /*基本没用*/
    visibility:hidden; /*隐藏内容*/
    display: block;
    clear: both;
};

.clearfix{*zoom:1;}

/* 其它 */
.icon{
    font-family: "icon";
    text-align: left;
    vertical-align: middle;
}

html {
    font-size: 625%;
}

.comWidth{
    max-width: 1200px;
    margin: 0 auto;
}

.leftArea{
    float: left;
}

.rightArea{
    float: right;
}

.hr_102{
    height: 102px;
}

/* 媒体查询 */
@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    
}

@media (min-width: 768px) and (max-width: 991px) {
    .stream {
      width: 48.5%;
      height: 380px;
      text-align: center;
      float: left;
      position: relative;
      margin: 0 0.7% 10px;
      background-color: #FFF;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
    }

    .main{
        padding-top: 80px;
    }

    .detailLeft,.detailIntro{
        width: 80%;
        margin: 0 10%;
    }

    .detailImg{
        width: 96%;
        height: 760px;
        margin: 0 2%;
    }

    .detailLeftIcon{
        display: none;
    }

    .detailLeftIcon a{
      font-size: 14px;
      font-weight: 300;
      color: #ADADAD;
      margin-right: 6%;
    }

    .related img{
        width: 46%;
        height: 132px;
        float: left;
        margin: 2%;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .user_actions,.headerNav {
      display: none;
    }

    .stream {
      width: 48.5%;
      height: 380px;
      text-align: center;
      float: left;
      position: relative;
      margin: 0 0.7% 10px;
      background-color: #FFF;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
    }

    .main{
        padding-top: 80px;
    }

    .detailLeft,.detailIntro{
        width: 80%;
        margin: 0 10%;
    }

    .detailImg{
        width: 96%;
        height: 660px;
        margin: 0 2%;
    }

    .detailLeftIcon{
        display: none;
    }

    .detailLeftIcon a{
      font-size: 14px;
      font-weight: 300;
      color: #ADADAD;
      margin-right: 6%;
    }

    .related img{
        width: 46%;
        height: 132px;
        float: left;
        margin: 2%;
    }
}

@media (max-width: 480px) {
    .user_actions,.headerNav {
      display: none;
    }

    .stream {
      width: 98%;
      height: 380px;
      text-align: center;
      float: left;
      position: relative;
      margin: 0 1% 10px;
      background-color: #FFF;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
    }

    .main{
        padding-top: 70px;
    }

    .detailLeft,.detailIntro{
        width: 96%;
        margin: 0 2%;
    }

    .detailImg{
        width: 96%;
        height: 320px;
        margin: 0 2%;
    }

    .detailLeftIcon{
        display: none;
    }

    .detailLeftIcon a{
      font-size: 14px;
      font-weight: 300;
      color: #ADADAD;
      margin-right: 6%;
    }

    .related img{
        width: 96%;
        height: 132px;
        float: left;
        margin: 2%;
    }
}