img{
    display: block;
    max-width:100%;
}

body{
    font-size: 14px;
    letter-spacing: 1px;
    background: #f5f5f5;
}

/*** 头部 ***/
.header{
    width: 100%;
    height: 56px;
    line-height: 56px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.header-inner{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.header-nav{
    font-size: 18px;
    float: left;
    margin-left: 10px;
}

.header-nav li{
    height: 56px;
    float: left;
    margin-right: 20px;
    display: inline-block;
}

.header-nav li a{
    font-size: 14px;
    display: inline-block;
    color: #9b9b9b;  
}

.header-nav .nav-active a{
    color: #000;
}

.header-nav li i{
    font-size: 22px;
    padding-right: 6px;
}

.user_actions{
    float: right;
    margin-right: 10px;
}

.logo{
    width: 60%;
    height: 56px;
    margin: 0 auto;
    text-align: center;
}

.logo a{
    display: inline-block;
    overflow: hidden;
}

.logo img{
    height: 18px;
    margin: 18px 0;
}

.user_actions a{
    font-size: 14px;
    color: #9b9b9b;
    display: inline-block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 6px;
    transition: 0.2s;
}

.user_actions a:hover{
    color: #fff;
    background: #000;
}

/*** 展示区 ***/
.main{
    max-width: 1200px;
    margin: 86px auto 40px auto;
    padding-top: 30px;
    overflow: hidden;
    text-align: justify;
    min-height: calc(100vh - 210px);
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
}

.img-left{
    width: 30%;
    float: left;
    text-align: center;
}

.img-left img{
    /*max-width: 420px;*/
    width: 99.8%;
    margin: 36px 86px;
}

.img-left .icon {
    width: 100%;
    margin: 36px 86px;
    /*margin-left: 36px;*/
    text-align: center;
    background: yellow;
    padding-left: 26px;
}

.img-left a{
    width: 40%;
    color: #9b9b9b;
    font-size: 14px;
    display: inline-block;
    /*margin-left: 82px;*/
    background: red;
}

.img-left i{
    /*font-size: 14px;*/
    padding-right: 6px;
}

.things{
    color: #9b9b9b;
    /*max-width: 560px;*/
    max-width: 46%;
    float: right;
    margin: 50px 50px;
}

.tag {
    font-size: 12px;
    line-height: 28px;
}

.tag a{
    width: 106px;
    height: 28px;
    color: #9b9b9b;
    display: inline-block;
    margin: 20px 10px 20px 0;
    background-color: #f5f5f5;
    border-radius: 4px;   
    text-align: center;
    transition: 0.2s;
}

.tag a:hover{
    color: #fff;
    background: #000;
}

.things-title{
    color: #404040;
    font-size: 28px;
    font-weight: normal;
    line-height: 38px;
}

.buy{
    max-width: 230px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #000;
    border-radius: 4px;
    margin: 20px 0 40px 0;
}

.buy a{
    display: inline-block;
    color: #fff;
}

.other .fa-heart{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    background: #000;
    text-align: center;
}

.other li{
    
    float: left;
    margin-right: 10px;
}

.other li a img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.things-related{
    padding-top: 20px;
    text-align: center;
}

.things-related h3{
    font-size: 16px;
    font-weight: normal;
    color: #9b9b9b;
    border-top: 1px solid #f5f5f5;
    padding: 30px;
}

.things-related img{
    max-width: 132px;
    height: 132px;
    float: left;
    margin-left: 58px;
}

/*** 底部 ***/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    color: #9b9b9b;
    background: #fff;
}

.footer ul{
    text-align: center;
}

.footer ul li{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border: 1px solid #9b9b9b;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px 30px 10px;
}

.footer .copyright {
    font-size: 13px;
}

/*** 公共样式 ***/
.icon{
    font-family: "icon";
    text-align: left;
    vertical-align: middle;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

/* 媒体查询 */
@media (min-width: 992px) and (max-width: 1199px) {
    .main{
        padding-top: 20px;
    }

    .main ul li{
        width: 48%;
        height: 380px;
        display: inline-block;
        background: #fff;
        float: left;
        /*margin:1.66796%;*/
        margin: 1%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
    }

    .main figcaption{
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .main{
        padding-top: 20px;
    }

    .main ul li{
        width: 48%;
        height: 380px;
        display: inline-block;
        background: #fff;
        float: left;
        /*margin:1.66796%;*/
        margin: 1%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
    }

    .main figcaption{
        font-size: 16px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .main{
        padding-top: 20px;
    }

    .main ul li{
        width: 97.8%;
        height: 380px;
        display: inline-block;
        background: #fff;
        float: left;
        /*margin:1.66796%;*/
        margin: 1%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
    }

    .main figcaption{
        font-size: 16px;
    }

    .user_actions{
        display: none;
    }
}

@media (max-width: 479px) {
    .main{
        padding-top: 20px;
    }
    
    .main ul li{
        width: 97.8%;
        height: 380px;
        display: inline-block;
        background: #fff;
        float: left;
        /*margin:1.66796%;*/
        margin: 1%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
    }

    .main figcaption{
        font-size: 16px;
    }

    .user_actions,.header-nav{
        display: none;
    }
}